p 
  'I am a Software Developer from the United Kingdom with a passion for learning.  
  'This app is deployed on Heroku, built on Ruby on Rails with a PostgreSQL backend.
  'I have been developing applications since I was very young. I started with Javascript.
