.progress {
  background-color: #662 !important;

  &:hover {
    cursor: pointer;

    .year-started {
      color: #000;
    }
  }

  .bar {
    float: right !important;
  }

  .year-started {
    font-family: courier;
    background: rgba(200, 200, 200, 0.4);
    color: #fff; 
    float: right !important;
  }
}
