/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#navigation {
  float: left;

  ul {
    list-style-type: none;
    text-align: right;

    font-family: "abeatbykai-regular";
    font-size: 30px;
    text-transform: lowercase;

    li.active {
      a {   
        color: #000000;
      }   
    }

    li {
      margin: 20px;

      a {
        color: #a0a0a0;
      }

      a:hover {
        text-decoration: none;
        color: #000000;
      } 
    }
  }
}
