@import "twitter/bootstrap/bootstrap";
@import "twitter/bootstrap/mixins";
@import "technical_color_scheme";
@import "technical_styling";

@section-border-style: 1px solid @linkColor;

ul.section-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;

  color: @text-color-section;

  h1,h2,h3,h4,h5,h6 {
    background-color: @background-color-section-heading !important;
  }

  li.section {
    width: 100%;
    border-top: @section-border-style;
    margin: 10px;

    &:last-child {
      border-bottom: @section-border-style;
    }

    .view-source-code {
      text-align: center;
      font-size: @font-size-view-source-code;
      font-family: @font-family-sans-serif;

      margin: 3px;
      padding: 5px;

      a {
        margin-left: 1px;
        text-decoration: none;
        color: @link-color-view-source-code;

        &:hover {
          color: @link-hover-color-view-source-code;
        } 
      }

      i.icon-download {
        padding-right: 5px;
      }
    }

    h3 {
      a {
        text-decoration: none;
        color: @text-color-section-heading;
      }

      small {
        padding-left: 10px;
      }
    }
      
    .clearfix();

    .image-gallery {
      margin: 20px;
      margin-top: 10px;
      position: relative;
      text-align: center;
      
      img {
        position: relative;
        border: 2px solid #000;
        max-width: 300px;
        max-height: 300px;
      }

      &:hover {
        .image-overlay {
          display: inline;
        }
      }

      .image-overlay {
        position: absolute;
        display: none;
        left: 0;
        top: 0;

        background: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;

        i {
          opacity: 0.8;
          left: 50%;
          top: 50%;
          .size(100px; 100px);
          margin-left: -50px;
          margin-top: -50px;
          color: #fff;
          position: absolute;
        }
      }
    }

    .right-float-section() {
      .image-gallery { float: right; margin-right: 0px; }
      background-color: @background-color-secondary-section;
    }

    .left-float-section() {
      h3 { text-align: left; }
      .image-gallery { float: left; margin-left: 0px; }
      background-color: @background-color-primary-section;
    }

    &:nth-child(2n) {
      .right-float-section();
    }

    &:nth-child(2n + 1) {
      .left-float-section();
    }

    &.portfolio-item:nth-child(2n) {
      .left-float-section();
      .image-gallery { padding-right: 20px; }
    }

    &.portfolio-item:nth-child(2n + 1) {
      .right-float-section();
      .image-gallery { padding-left: 20px; }
    }
  }
}
